# Node.js (backend)
backend/node_modules/
backend/.env
backend/dist/
backend/logs/

# .NET Core (SpendWise.API)
SpendWise.API/bin/
SpendWise.API/obj/
SpendWise.API/wwwroot/uploads/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# Angular (frontend)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.env

# Common
*.log
.env
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
